 <form action="/add" method="POST">
        
        <label for="cod_produto">COD do produto</label>
        <input type="number" name="cod_produto" id="cod_produto">

        <label for="nome_produto">Nome do produto</label>
        <input type="text" name="nome_produto" id="nome_produto">

        <label for="preco_produto">Preço do produto</label>
        <input type="number" name="preco_produto" id="preco_produto">

        <button type="submit">Cadastrar produto</button>

</form>

